<% include ../head %>

<h2>Completed</h2>

<table class="table table-striped">
  <tr>
    <th>When</th>
    <th>Who</th>
    <th>Job ID</th>
  </tr>
  <% jobs.forEach(function(job) { %>

    <tr>
      <td><%= job.when.format("h:mm:ss.SSS") %></td>
      <td><%= job.who %></td>
      <td><a href="/jobs/<%= job.id %>"><%= job.id %></a></td>
    </tr>

  <% }) %>
</table>

<% include ../foot %>