<% include ../head %>

<h2>Chat</h2>

<table class="table table-striped">

  <tr>
    <th>When</th>
    <th>Room</th>
    <th>From</th>
    <th style="width: 100%">Message</th>
  </tr>
  <% messages.forEach(function(message) { %>

    <tr>
      <td><%= message.when.format("h:mm:ss.SSS") %></td>
      <td><%= message.room %></td>
      <td><%= message.name %></td>
      <td><%= message.message %></td>
    </tr>

  <% }) %>
</table>

<% include ../foot %>